<mat-toolbar class="toolbar-home">
  <button mat-button [matMenuTriggerFor]="menu" mat-icon-button class="example-icon">
    <mat-icon style="color:white;">menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="/about">Sobre mim</a>
    <a mat-menu-item routerLink="/school">Formação</a>
    <a mat-menu-item routerLink="/curriculum">Portfólio</a>
    <a mat-menu-item routerLink="/contact">Contato</a>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
<footer class="footer">© 2022 Copyright: by Dionei Beilke dos Santos</footer>